body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group button,
.button-group a {
  margin: 0 10px;
}

.footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 14px;
  color: #555;
}
